body{
    background-color: blanchedalmond;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    margin: 0 auto;
}
.container{ 
    padding-left: 0.1%;
    background-color: white;
    margin: 0 auto;
    height: 40%;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
}
.container2{    
    padding-left: 0.1%;
    background-color: white;
    margin: 0 auto;
    height: 40%;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
}
.container3{   
    margin-top: 1%; 
    padding-left: 0.1%;
    background-color: white;
    margin: 0 auto;
    height: 40%;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
}
.container4{    
    padding-left: 0.1%;
    background-color: white;
    margin: 0px auto;
    height: 40%;
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
}
li{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10%;
    background-color: white;

}
nav{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 35%;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    height: 300px;
    border: 1px solid black;
}